.center-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }



  .button1 {

    font-size: 2em; 
    border-radius: 12px;
    background-color: #f44336;/* Red */ 
    padding: 50px;

  }

  #text1 {
      color:aliceblue
  }